* {
  /*border: 1px dotted grey;*/
}

#logo {
  line-height: 10vh;
  color: white;
  font-size: 4rem;
  font-weight: 300;
  text-decoration: none;
}

.container {
  height: 90vh;
  overflowY: scroll;
}

.columns {
  padding: 0 5px;
}

